@font-face {
    font-family: MontserratBlack;
    src: url('assets/font/Montserrat-Black.ttf')
}

@font-face {
    font-family: MontserratBold;
    src: url('assets/font/Montserrat-Bold.ttf')
}

@font-face {
    font-family: MontserratSemiBold;
    src: url('assets/font/Montserrat-SemiBold.ttf')
}

@font-face {
    font-family: MontserratRegular;
    src: url('assets/font/Montserrat-Regular.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    &:after{
        content: "";
        clear: both;
        display: table;
    }
}

html {
    font-family: MontserratRegular;
}

body {
    width: 75%;
    margin: auto;
    color: #4E4E50;
}

h1 {
    font-size: 80px;
    font-family: MontserratBlack;
    letter-spacing: (100/1000)em;
    text-transform: uppercase;
}

h2 {
    font-size: 52px;
    font-family: MontserratSemiBold;
}

h3 {
    font-size: 30px;
    font-family: MontserratRegular;
    letter-spacing: .15em;
    line-height: 37px;
}

h4 {
    font-size: 20px;
    font-family: MontserratBold;
    line-height: 24px;
}

p {
    font-size: 22px;
    font-family: MontserratRegular;
    letter-spacing: (10/1000)em;;
    line-height: 33px;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: MontserratSemiBold;
}