@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: MontserratBlack;
    src: url('assets/font/Montserrat-Black.ttf')
}

@font-face {
    font-family: MontserratBold;
    src: url('assets/font/Montserrat-Bold.ttf')
}

@font-face {
    font-family: MontserratSemiBold;
    src: url('assets/font/Montserrat-SemiBold.ttf')
}

@font-face {
    font-family: MontserratRegular;
    src: url('assets/font/Montserrat-Regular.ttf')
}

$size : 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    font-family: MontserratRegular;
}

body {
    width: 100vw;
    margin: auto;
    color: #4E4E50;
    overflow-x: hidden;
    cursor: none;
}

body::-webkit-scrollbar-track {
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	background-color: #272727;
}

h1 {
    font-size: 80px;
    font-family: MontserratBlack;
    letter-spacing: (100/1000)em;
    text-transform: uppercase;
}

h2 {
    font-size: 52px;
    font-family: MontserratSemiBold;
}

h3 {
    font-size: 30px;
    font-family: MontserratRegular;
    letter-spacing: .15em;
    line-height: 37px;
}

h4 {
    font-size: 20px;
    font-family: MontserratBold;
    line-height: 24px;
    text-transform: uppercase;
}

h5 {
    font-size: 80px;
    font-family: MontserratBlack;
    text-transform: lowercase;
}

p {
    font-size: 22px;
    font-family: MontserratRegular;
    letter-spacing: .1em;
    line-height: 33px;
}

span {
    font-size: 15px;
    font-family: MontserratRegular;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: MontserratSemiBold;
}

.btn {
    background: none;
    border: 4px solid #F7F5F5;
    color: #F7F5F5;     
    padding: 10px;  
    font-family: MontserratBold;
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    width: 75%;
}

#pacman {
	position: absolute;
  pointer-events:none;
	margin-left: -$size /2;
	margin-top: -$size /2;
	height: $size;
	width: $size / 2;
	border-radius: 90px 0 0 90px;
	-moz-border-radius: 90px 0 0 90px;
	-webkit-border-radius: 90px 0 0 90px;
	background: #FFFF00;
  cursor: none;
  z-index: 99999;
}

#pacman > .top {
	height: $size / 2;
	width: $size;
	border-radius: 90px 90px 0 0;
	-moz-border-radius: 90px 90px 0 0;
	-webkit-border-radius: 90px 90px 0 0;
	background: #FFFF00;
	transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-webkit-animation: top 1s infinite linear;
}

#pacman > .bottom {
	height: $size / 2;
	width: $size;
	border-radius: 0 0 90px 90px;
	-moz-border-radius: 0 0 90px 90px;
	-webkit-border-radius: 0 0 90px 90px;
	background: #FFFF00;
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-webkit-animation: bottom 1s infinite linear;
}

@-webkit-keyframes bottom {
	0% {
		transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
	}

	25% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	50% {
		transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
	}

	75% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	100% {
		transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
	};
}

@-webkit-keyframes top {
	0% {
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
	}

	25% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	50% {
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
	}

	75% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	100% {
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
	};
}