@import "../app.component.scss";

.about {
    height: 85vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    h1 {
        color: $white-smoke;
    }

    h4 {
        margin: 20px 0;
    }

    P {
        margin-bottom: 100px;
    }
}

.about-left {
    width: 65%;
}

#timeline {
    height: 100vh;
    background-color: $light-gray;
}

.timeline {
    display: flex;
    text-align: center;
}

.rect {
    flex: 1;   
    height: 200px;
    margin-top: -100px;
    background-color: $white;
    border: 1px solid $border-light;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h4 {
        margin: 10px 0;
        font-size: 16px;

    }

    
}