<main>
    <section id="about">
        <div class="wrapper about">
            <div class="about-left">
                <h1>Who Am I?</h1>
                <h4>ABOUT ME</h4>
                <p>
                    My name is Deiziane Silva.  
                    I’m a twenty three years old developer based in Minas Gerais, Brazil. 
                    I’m passionate about creating meaningful work that makes our life better.
                </p>
                <h4>TIMELINE</h4>
            </div>
            <div class="about-right">
                <img src="../../assets/profile pic.svg" alt="Deiziane Silva picture">
            </div>
        </div>
    </section>
    <section id="timeline">
            <div class="wrapper timeline">
                <div class="rect">
                    <span>2013 - 2014</span>
                    <h4>Informatics Technician</h4>
                    <span>Escola Politécnica <br>de Minas Gerais </span>
                </div>
                 <div class="rect">
                    <span>2015 - 2019</span>
                    <h4>B.S. Computer Science</h4>
                    <span>Universidade Federal <br>de Minas Gerais</span>
                </div>
                 <div class="rect">
                    <span>2019 - Present</span>
                    <h4>FREELANCE <br> DEVELOPER</h4>
                </div>
            </div>
    </section>
    <!-- <section id="about-skills">
        <h1>Skills</h1>
    </section> -->
</main>