<main>
    <section id="about">
        <div class="about-left">
            <h1>Who Am I?</h1>
            <h4>ABOUT ME</h4>
            <p>
                My name is Deiziane Silva.  
                I’m a twenty three years old developer based in Minas Gerais, Brazil. 
                I’m passionate about creating meaningful work that makes our life better.
            </p>
            <h4>TIMELINE</h4>
        </div>
        <div class="about-right">
            <img src="../../assets/profile pic.svg" alt="Deiziane Silva picture">
        </div>
    </section>
    <section id="timeline">
        
    </section>
    <!-- <section id="about-skills">
        <h1>Skills</h1>
    </section> -->
</main>