<main>
    <section id="about">
        <div class="about-left">
            <h1>Who Am I?</h1>
            <h4>ABOUT ME</h4>
            <p>
                    My name is Deiziane Silva. Many people call me Deizi.  
                    I’m a twenty three years old developer based in Minas Gerais, Brazil.  
                    Since I was a child I’ve always been attracted to new technology.  
                    I’m passionate about creating meaningful work that makes our life better. <br><br>
                    If you want to work or collaborate with reliable and punctual dev, don't hesitate to send me a message.
            </p>
        </div>
        <div class="about-right">
            <img src="../../assets/profile pic.svg" alt="Deiziane Silva picture">
        </div>
    </section>
    <!-- <section id="about-skills">
        <h1>Skills</h1>
    </section> -->
</main>