@import "../app.component.scss";

section {
    height: 65vh;
}

.wrapper {
    display: flex;
}

.half {
    width: 50vw;
    height: 100%;
    position: absolute;
    top:0;
}

.form {
    right: 0;
    background-color: $pink;
}

.content {
    margin-top: 100px;
    
    h1 {
        color: $white-smoke;
        margin-bottom: 50px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 18px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    width: 100%;
    margin-top: 200px;
}
  
.form-container > * {
    width: 80%;
    margin: 20px 0;
}

.form-container {
    button {
        align-self: flex-end;
        width: 200px;
        margin-right: 80px;
    }
}

::ng-deep .mat-form-field {
    font-family: MontserratBold;
    color: $white-smoke !important;
}

::ng-deep .mat-form-field-label {
    color: $white-smoke !important;
}


::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $white-smoke !important;
    font-family: MontserratBold;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $white-smoke !important;
} 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: $white-smoke !important;;
}