$white:         #fff !default;
$black:         #000 !default;
$light-black:   #191919 !default;
$light-white:   #FDFEFE !default;
$white-smoke:   #F4F4F6 !default;
$light-gray:    #F1F1F2 !default;
$medium-gray:   #A7AAB4 !default;
$pink:          #FFAFC2 !default;
$light-pink:    #FFDDDC !default;
$light-yellow:  #F9F5EC !default;
$light-blue:    #E8F6F7 !default;
$border-light:  #DEDEDE !default;
$aquamarine:    #73FBE7 !default;
