<main>
    <section>
        <div class="wrapper presentation">
            <div class="intro">
                <h1>Project 01</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec ut quam sapien.
                </p>
            </div>
            <div class="cover">
                <img src="../../assets/laptop.png" alt="laptop" />
            </div>
           
        </div>
        <a class="scroll" href="#project">
            <span></span>
        </a>
    </section>
    <section id="project">
        <div class="wrapper project">
            <div>
                <h4>Overview</h4>
                <p>
                    Nulla sed felis a massa vestibulum laoreet commodo ac nisi. 
                    Curabitur sit amet mi interdum, tempor risus congue, posuere odio. 
                    Nulla vitae orci dui. Nam interdum eros dolor, in rutrum orci convallis eget. 
                    Nullam pretium lorem eget tortor aliquet, ut posuere leo egestas. Vestibulum at porta sem. 
                </p>
            </div>
            <div>
                <h4>Sector</h4>
                <p>Software Development & 
                        Law Enforcement</p>
                <h4>Year</h4>
                <p>2019</p>
                <h4>Live Website</h4>
                <a class="live" href="https://grrl.github.io/" target="blank">grrl.github.io</a>
            </div>
            <div class="img">
                <img src="../../assets/image.jpg" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            
            <h1>Next Project</h1>
            <div class="next">
                <h3>Project 02</h3>
                <button class="btn">view project</button>
            </div>
        </div>
    </section>
</main>