@import "../app.component.scss";

#header {
    height: 100vh;
}

h4 {
    &:before {
      content: '\01F802';
      color: black;
      margin-right: 10px;
    }
    
}

.live {
    &:after {
        content: '\1F865';
        color: black;
        margin-left: 5px;
      }
}

section:first-child {
  position: relative;
  top: -100px;
  background-color: $light-blue;
  height: 90vh;
}

.presentation {
  display: flex;
  height: 60vh;
  align-items: flex-end;

  h4 {
    color: $medium-gray;
  }

  p {
    color: $medium-gray;
  }
}

.intro {
  flex: 1;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  img {
    height: 30vh;
  }
}

.scroll {
  font-size: 0.9em; /* CONTROL MOUSE SIZE */
  border: 2px solid rgba(0,0,0,1);
  display: block;
  width: 1.7em;
  height: 2.8em;
  border-radius: 0.9em;
  text-decoration: none;
  transition: border 0.2s ease-out;
  margin: 100px auto 0 auto;

  &:hover {
      border: 2px solid rgba(0,0,0,0.7);

      span {
          -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
      }
  }

  span {
      display: block;
      background: #000;
      width: 0.2em;
      height: 0.3em;
      margin: 0.7em auto 0;
      border-radius: 0.4em;
      -webkit-animation-name: scroll;
      animation-name: scroll;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
      animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      will-change: transform;
  }
}

@-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1.2em) scaleY(1.5);
    opacity: 0.01;
  }
}

@keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(1.2em) scaleY(1.5);
    opacity: 0.01;
  }
}

.project {
  display: flex;
}

.img {
  flex: 100%;
}