@import "../app.component.scss";

.about {
    height: 85vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    h1 {
        color: $white-smoke;
    }

    h4 {
        margin: 20px 0;
    }

    P {
        margin-bottom: 100px;
    }
}

.about-left {
    width: 65%;
}

#timeline {
    height: 100vh;
    background-color: $light-gray;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    
    .title {
        margin-top: 100px;
        flex-basis: 100%
    }
}


.languages {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 50px 0;
    width: 100%;
   
}

.languages-item {
    flex:1;
    padding: 0 1rem;
    
    &:first-child {
      padding-left: 0;
    }
    
    & + & {
      border-left: 1px solid $border-light;
    }
}


  .level{
    line-height: 2px;
    margin: 10px 0;
    font-size: type-scale(0);
  }
  
  .level-circle {
    height: auto;
    width: auto;
    display: inline-block;
    margin: 0 2px;
    
    &:before {
      content: '\2B24';
      color: $aquamarine;
    }
    
    &.inactive:before {
      color: $border-light;
    }
  }

.rect {
    flex: 1;   
    height: 200px;
    margin-top: -100px;
    background-color: $white;
    border: 1px solid $border-light;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


    h4 {
        margin: 10px 0;
        font-size: 16px;

    }

    span {
        font-style: italic;
    }
    
}

#about-skills {
  .rect {
    flex-direction: row;
    height: auto;
  }

}

.lg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 10px 0;

  div {
    margin: 10px 0;   
  }
}

.skill-bars {
  list-style: none;
  width: 400px;
  margin-left: 10px;

  li {
    height: 20px;
    background: #a1a1a1;
    width: 100%;
    margin: 19px 0;
    position: relative;

    .progress {
      background: #313131;
      position: relative;
      height: 100%;

      // span {
      //   position: absolute;
      //   right: 0;
      //   top: -3rem;
      //   display: block;
      //   color: white;
      //   line-height: 1;
      //   background: #313131;
      //   padding: .6rem .6rem;
      //   border-radius: 3px;

      //   &::after {
      //     position: absolute;
      //     left: 50%;
      //     bottom: -5px;
      //     margin-left: -5px;
      //     border-right: 5px solid transparent;
      //     border-left: 5px solid transparent;
      //     border-top: 5px solid #313131;
      //     content: "";
      //   }
      // }
    }
  }
}

.skill-bars li .percent5   { width: 5%; }
.skill-bars li .percent10  { width: 10%; }
.skill-bars li .percent15  { width: 15%; }
.skill-bars li .percent20  { width: 20%; }
.skill-bars li .percent25  { width: 25%; }
.skill-bars li .percent30  { width: 30%; }
.skill-bars li .percent35  { width: 35%; }
.skill-bars li .percent40  { width: 40%; }
.skill-bars li .percent45  { width: 45%; }
.skill-bars li .percent50  { width: 50%; }
.skill-bars li .percent55  { width: 55%; }
.skill-bars li .percent60  { width: 60%; }
.skill-bars li .percent65  { width: 65%; }
.skill-bars li .percent70  { width: 70%; }
.skill-bars li .percent75  { width: 75%; }
.skill-bars li .percent80  { width: 80%; }
.skill-bars li .percent85  { width: 85%; }
.skill-bars li .percent90  { width: 90%; }
.skill-bars li .percent95  { width: 95%; }
.skill-bars li .percent100 { width: 100%; }
