<header>
    <nav>
        <div class="link-left">
            <a href="#" id="text-left">Contact me</a>
        </div>
        <div class="languages">
            <a href="#">PT</a>
            <a href="#" class="active">EN</a>
        </div>
        <div class="menu-burger" (click)="menuClick()">
            <svg 
                id="menu"
                width="43"
                height="43"
                viewBox="0 0 43 43" 
                fill="none"
                #menu
            >   
                <line id="frstbar" y1="1.5" x1="0" x2="43" y2="1.5" stroke="black" stroke-width="3" #frstbar />
                <line id="scndbar" y1="11.5" x1="0" x2="43" y2="11.5" stroke="black" stroke-width="3" #scndbar/>
                <line id="thrdbar" y1="21.5" x1="16" x2="43" y2="21.5" stroke="black" stroke-width="3" #thrdbar/>
            </svg>
        </div>
        <div class="burger-open">
            <h5>home.</h5>
            <h5>work.</h5>
            <h5>about.</h5>
            <h5>contact.</h5>
            
            <button class="btn">Download CV</button>
            <h1>Menu</h1>
        </div>
    </nav>
</header>