@import "../app.component.scss";

header {
  margin-bottom: 100px;
}

nav {
  display: flex;
  align-items: center;
  height: 100px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  z-index: 9999;
}

.link-left,
.languages {
  flex: 1;
  z-index: 9999;
}

.languages,
.menu-burger {
  text-align: right;
}

.languages {
  a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}

.active {
  color: #c3073f;
}

.menu-burger {
  margin: 20px 0 0 20px;
  cursor: pointer;
  z-index: 9999;
}

.burger-open {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $pink;
  padding-top: 100px;
  transform: translateY(-100%);

  h5 {
    text-align: center;
    color: $white;
    transition: all 0.35s linear;
    cursor: pointer;

    &:hover{
      transform: scale(1.1);
    }
  }

  h1 {
    margin: 60px 0 0 60px;
    color: $medium-gray;
    opacity: 0.2;
  }

  button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 80px;
    width: 200px;
    
  }
}

#frstbar,
#scndbar,
#thrdbar {
  -webkit-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
}


#menu {
  &.open{
    #thrdbar {
      width: 0;
      opacity: 0;
    }
  }
}


