nav {
   display: flex;
   align-items: center;
   height: 100px; 
   text-transform: uppercase;
}

.link-left, .languages {
    flex: 1;   
}

.languages, .menu-burguer {
    text-align: right;
}

.languages {
    a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
}

.active{
    color: #C3073F;
}

.menu-burguer {
    width: 36px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    cursor: pointer;

    &:hover{
        .menu-line:last-child {
            width: 100%;
        }
    }
  }
  
  .menu-line {
    height: 4px;
    background-color: #000;
    border-radius: 3px;
    transition: all 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  
  .menu-line:first-child {
    animation: firstLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
  }
  
  .menu-line:last-child {
    width: 50%;
    margin-left: auto;
  }

  .open .menu-line:first-child {
    animation: firstLinetoOpen 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
    animation-fill-mode: forwards;
  }
  
  @keyframes firstLinetoOpen {
    0%   {
      transform: translateY(0);
    }
  
    50% { 
      transform: translateY(16px);
    }
  
    100% {
      transform: translateY(8px) rotate(45deg);
    }
  }
  
  @keyframes firstLinetoClose {
    0%   {
      transform: translateY(17px) rotate(0);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .open .menu-line:nth-child(2){
    opacity: 0;
  }
  
  .menu-line:last-child {
    animation: lastLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);  
  }
  
  .open .menu-line:last-child {
    animation: lastLinetoOpen 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
    animation-fill-mode: forwards;
  }
  
  @keyframes lastLinetoOpen {
    0%   {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-8px);
    }
  
    100% {
      transform: translateY(-8px) rotate(-45deg);
    }
  }