<main>
    <section class="page">
        <div class="details">
            <h2>Deiziane Silva</h2>
            <h3>Computer Scientist</h3>
        </div>
        <div class="hero">
            <img class="model-left" src="../../assets/main-left.jpg" alt="drawing">
            <img class="model-right" src="../../assets/main-right.jpg" alt="drawing">
        </div>
        <div class="social">
            <div class="github">
                <a href="https://github.com/grrl" target="_blank">
                    <img src="../../assets/icons/github.svg" alt="github">
                </a>
            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/deiziane-ns/" target="_blank">
                    <img src="../../assets/icons/linkedin.svg" alt="linkedin">
                </a>
            </div>
            <div class="telegram">
                <a href="https://t.me/deizianens" target="_blank">
                    <img src="../../assets/icons/telegram.svg" alt="telegram">                    
                </a>
            </div>
        </div>
    </section>
</main>
