<main>
    <section class="page">
        <div class="details">
            <h2>Deiziane Silva</h2>
            <h3>Computer Scientist</h3>
        </div>
        <div class="hero">
            <img class="model-left" src="../../assets/main-left.jpg" alt="drawing">
            <img class="model-right" src="../../assets/main-right.jpg" alt="drawing">
        </div>
        <div class="social">
            <div class="github">
                <a href="https://github.com/grrl" target="_blank">
                    <img src="../../assets/icons/github.svg" alt="github">
                </a>
            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/deiziane-ns/" target="_blank">
                    <img src="../../assets/icons/linkedin.svg" alt="linkedin">
                </a>
            </div>
            <div class="telegram">
                <a href="https://t.me/deizianens" target="_blank">
                    <img src="../../assets/icons/telegram.svg" alt="telegram">                    
                </a>
            </div>
        </div>
        <a class="scroll" href="#about">
            <span></span>
        </a>
    </section>
    <section id="about">
        <p class="about-text">I am Deiziane, Computer Scientist UFMG. <br>
            Developer passionate about computer science in general. <br>
            I enjoy learning new things and working on hard problems.
        </p>
        <h1>Skills</h1>
        <p>Experience using these technologies</p>
        <div class="skills">
            <div class="html">
                    <img src="../../assets/languages/html.svg" alt="html">
            </div>
            <div class="css">
                    <img src="../../assets/languages/css.svg" alt="css">
            </div>
            <div class="js">
                    <img src="../../assets/languages/js.svg" alt="js">                    
            </div>
            <div class="angular">
                <img src="../../assets/languages/angular.svg" alt="angular">                    
            </div>
            <div class="sass">
                <img src="../../assets/languages/sass.svg" alt="sass">                    
            </div>
        </div>
    </section>
    <section id="projects">
        <h1>Projects</h1>
        <div class="projects-wrapper">
            <div class="project">
                <a href="#">
                    <img src="../../assets/p1.jpg" alt="project 01">
                    <span>Project 01</span>
                </a>
            </div>
            <div class="project">
                <a href="#">
                    <span>Project 02</span>
                    <img src="../../assets/p2.jpg" alt="project 02">
                </a>
            </div>
            <div class="project">
                <a href="#">
                    <img src="../../assets/p3.jpg" alt="project 03">
                    <span>Project 03</span> 
                </a>
            </div>
            <div class="project">
                <a href="#">
                    <span>Project 04</span>
                    <img src="../../assets/p4.jpg" alt="project 04">
                </a>
            </div>
        </div>
    </section>
</main>
