.page {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-self: center;

    img {
        height: 450px;
        transition: transform 0.3s ease-out;
        cursor: pointer;
    }

    &:hover {
        .model-right, .model-left{
            transform: translate(0%,0%)
        }
    }
}

.model-left {
    transform: translate(0%, -5%)
}

.model-right {
    transform: translate(0%, 5%)
}

.details {
    grid-column: 1/2;
    align-self: end;

    h3 {
        padding: 5px 0;
        margin-bottom: 50px;
    }
}

.social {
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
}

.social > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.social img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.scroll {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    font-size: 0.9em; /* CONTROL MOUSE SIZE */
    border: 2px solid rgba(0,0,0,1);
    display: block;
    width: 1.7em;
    height: 2.8em;
    border-radius: 0.9em;
    text-decoration: none;
    transition: border 0.2s ease-out;
    margin-top: 50px;

    &:hover {
        border: 2px solid rgba(0,0,0,0.7);

        span {
            -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
        }
    }

    span {
        display: block;
        background: #000;
        width: 0.2em;
        height: 0.3em;
        margin: 0.7em auto 0;
        border-radius: 0.4em;
        -webkit-animation-name: scroll;
        animation-name: scroll;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
        animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        will-change: transform;
    }
  }
  
  @-webkit-keyframes scroll {
    0%, 20% {
      -webkit-transform: translateY(0) scaleY(1);
    }
    10% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1.2em) scaleY(1.5);
      opacity: 0.01;
    }
  }
  
  @keyframes scroll {
    0%, 20% {
      transform: translateY(0) scaleY(1);
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateY(1.2em) scaleY(1.5);
      opacity: 0.01;
    }
  }

  .about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #F7F5F5;
    }
  }

  .about-text {
    width: 800px;
    text-align: center;
    padding: 150px 0 70px 0;
  }

  .skills {
    width: 420px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
      width: 70px;
    }
  }

  .projects {
    height: 100vh;

    h1 {
      color: #F7F5F5;
      margin-bottom: 100px;
    }
  }

  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .projects-wrapper:nth-child(2n) {
    align-self: end;
  }

  .project {
    display: flex;
    flex-direction: column;

      img {
        width: 100%;
      }

      span {
        display: inline-block;
        margin: 12px 0;
        text-transform: uppercase;
        font-size: 13px;
      }

  }